body {
    background-color: blue;
    color: white;
}
hr {
    color: white;
}
h1, h2 {
    text-align: center;
}
.second-heading {
    text-align: left;
}
a {
    color: white;
    text-decoration: none;
}