<nav id="navbar" class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <h5 class="navbar-brand"><a [routerLink]="['/home/']">MainMenu</a></h5>
  </div>
</nav>
<div class="d-flex">
  <div>
    <div
      class="offcanvas offcanvas-start show"
      tabindex="-1"
      id="offcanvasDark"
      aria-labelledby="offcanvasDarkLabel"
    >
      <div class="offcanvas-body">
        <p><a [routerLink]="['/home/movies/']">Movies</a></p>
        <p><a [routerLink]="['/home/top-rated/']">Top Rated</a></p>
        <p><a [routerLink]="['/home/most-popular/']">Most Popular</a></p>
        <p><a [routerLink]="['/home/user/']">User</a></p>
        <p (click)="logout()">Logout</p>
      </div>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>
