.div {
    margin: 20vw 0 0 45vw;
    width: 300px;
    height: 230px;
    border: 1px solid #9C9C9C;
    background-color: #EAEAEA;
    border-radius: 15px;
    p {
      border: 1px solid  #9C9C9C;
      border-radius: 8px;
    }
}
