@import 'variables';
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,400&display=swap');


body {
    font-family: Roboto;
}
#header {
    background-color: $primary-color;
    margin-inline: auto;
    border-radius: 10px;
    box-shadow: 2px 2px;
}

li a {
    font-style: italic;
    text-decoration: none;
    color: $link-color;
}
nav ul {
    display: flex;
}
li {
    padding: $padding-gen;
    list-style-type: none;
}

#main {
    display: flex;
    margin-inline: $margin-inline;
}
.warning-button {
    background-color: $color-2;
    color: $color-4;
    border: 2px outset;
}
p a {
    color: $color-2;
    text-decoration: none;
}
ul {
    display: flex;
}
#sidebar ul {
    display: flex;
    flex-direction: column;
}
#sidebar li {
    border-bottom: 1px dashed $color-3;
}
