body {
    font-family: 'Lexend', sans-serif;
    font-size: 28px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}
h1 {
    margin: 16px 0 0;
}
.calculator {
    width: 60%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 6px;
    margin: 0 auto;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    padding: 16px;
    border-radius: 10px;
    -webkit-box-shadow: 5px 5px 15px 1px #000000;
    box-shadow: 5px 5px 15px 1px #000000;
}
button, input {
    border-radius: 10px;
    font-family: 'Lexend', sans-serif;
    font-size: 28px;
}
input {
    overflow-x: scroll;
    background-color: #787878; 
    color: aliceblue;   
}

#display-calc {
    grid-column: 1/5;
    min-height: 70px;
}

#equal-sign {
    grid-row: 5/7;
    grid-column: 4;
    background-color: #80aee2 ;
}
#unlock-img-btn {
    font-size: medium;
    width: 55%;
}
img {
    width: 90%;
    height: 234px;
    display: none;
}

@media screen and (min-width: 1024px) {
    img {
        width: 50%;
    }

    .calculator {
        width: 40%;
    }

    #unlock-img-btn {
        width: 20%;
    }
    
}