/*
1 creazione del testo e formattazione di 1 parola da far ruotare
2 inserimento delle altre 2 parole
3 sovrapporre le 3 parole
4 mostrare 1 parola e nascondere le altre 2
5 animare 1 parola (fadein - fadeout con spostamento)
6 animare le altre 2 parole
7 ritardare progressivamente l'animazione delle altre 2 parole 
*/

body {
    font-family: 'Bree Serif', sans-serif;
	font-size: 3rem;
    line-height: 1.5;
}
main {
    display: flex;
    align-items: center;
    height: 100vh;
}
div {
    width: 80%;
    margin: 0 auto;
    border: 4px solid #666;
    padding: 40px; 
    position: relative;
}

p {
    text-shadow: 1px 1px 1px rgb(146 146 146 / 80%);
}

.parole {
    display: flex;
    align-items: flex-end;
}

@keyframes testoAlternato {
    0% {color: transparent; top: -20px; opacity: 0;}
    25%{color: rgb(74, 148, 228); top: 0px; opacity: 1;}
    50%{color: transparent; top: 20px; opacity: 0;}
}
.parole i {
    position: absolute;
    left: 68vh;
    margin-top: 184px;
    opacity: 0;
    color: transparent;
    animation-name: testoAlternato;
    animation-duration: 3s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
}
.parole i:nth-child(2) {
    animation-delay: 2s;
    color: #6b889d;
}
.parole i:nth-child(3) {
    animation-delay: 1s;
    color: #6b739d;
}
